# API PORT
PORT=3000

# postgresql://USENRAME:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://USENRAME:PASSWORD@HOST:PORT/DATABASE?schema=public"

# SESSION SECRET
SESSION_SECRET="YOUR_SESSION_SECRET"