#ls{
    margin:auto;
    display: block;
    text-align: center;
    background-color: white;
    font-size: 16px;
    padding: 12px 36px;
    border: 2px solid black;
    width: 100%;
    transition-duration: 0.4s;
    color: black;
}

#ls:hover{
    background-color: blue;
    color: white;
}

#texto{
    text-align: center;
}

#label{
    width: 100%;
}

#bodybg{
    background-image: url(img/logo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}