#ls {
  margin: auto;
  display: block;
  text-align: center;
  background-color: white;
  font-size: 16px;
  padding: 12px 36px;
  border: 2px solid black;
  width: 100%;
  transition-duration: 0.4s;
  color: black;
}

#ls:hover {
  background-color: blue;
  color: white;
}

#texto {
  text-align: center;
}

#textofp {
  text-align: center;
  font-size: 12px;
}

#label {
  width: 100%;
}

#bodybg {
  background-color: white;
}

#boxs {
  width: 100%;
  height: 350px;
  padding: 10px;
  border: 2px solid black;
  margin: auto;
  background-color: whitesmoke;
  display: block;
}

#boxl {
  width: 100%;
  height: 250px;
  padding: 10px;
  border: 2px solid black;
  margin: auto;
  background-color: whitesmoke;
  display: block;
}

.input-box img {
  width: 35px;
  cursor: pointer;
}
/*
#pass {
  width: 90%;
}

#repass {
  width: 90%;
}*/

#perfiluser {
  width: 100px;
  height: 100px;
}

#perfilout {
  width: 90px;
  height: 90px;
}

#perfilogo {
  width: 100%;
}

#user {
  width: 90%;
}

#nt {
  margin: auto;
  display: block;
  text-align: center;
  background-color: white;
  font-size: 16px;
  padding: 12px 36px;
  border: 2px solid black;
  width: 100%;
  transition-duration: 0.4s;
  color: black;
}

#nt:hover {
  background-color: blue;
  color: white;
}

#boxfp {
  width: 100%;
  height: 160px;
  padding: 10px;
  border: 2px solid black;
  margin: auto;
  background-color: whitesmoke;
  display: block;
}

/* UPDATES - CASTRO */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  min-height: 100vh;
}

body {
  background-color: #f3f4f6;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

#navbar {
  height: 3.75rem;
}

#navbar-logo-img {
  height: 100%;
  mix-blend-mode: multiply;
}

#navbar-logo-text {
  cursor: default;
}

.navbar-item {
  color: #111827 !important;
}

.navbar-item:hover {
  color: #4b5563 !important;
}

#dropdown-navbar-profile:hover {
  opacity: 0.8;
}

#dropdown-navbar-profile-menu {
  background-color: white;
}

.icon {
  width: 1em;
  height: 1em;
}

.icon-logout {
  width: 2.5em;
  height: 2.5em;
}
